@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form-style-1 {
	margin:20px auto;
	max-width: 400px;
	padding: 	0px 22px 20px 30px;
	font: 16px "roboto"
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:none;
	background: #f2f2f2;
	padding: 18px;
	margin:0px;
    
	outline: none;	
}

.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #161616;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #7d7c7c;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	transition: 0.3s;
}
.form-style-1 .required{
	color:red;
}
body {
	background: #070706; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #979797, #252524);
	background: -moz-linear-gradient(right, #979797, #252524);
	background: -o-linear-gradient(right, #979797, #252524);
	background: linear-gradient(to left, #979797, #252524);
}
.box{ 
	background: white;
	margin: auto;
	padding: 55px;
	width: 300px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	justify-content: center;
	margin-top: 50%;
	
}